.name-topic {
    pointer-events: none;
    height: 300px;
    width: 500px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    border: solid 1px rgba(117, 116, 116, 0.767);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    animation: cool ease 0.2s;
}

.show {
    display: flex;
    pointer-events: auto;
}

.topic-create-button {
    border-radius: 12px;
    border: none;
    font-size: 17px;
    margin-bottom: 5px;
    width: 40px;
    padding-left: 10px;
    height: 42px;
    margin: 10px 7px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;

}

.topic-create-input {
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    font-size: 17px;
    margin-bottom: 5px;
    width: 300px;
    padding-left: 10px;
    height: 40px;
    margin: 10px 7px;
    margin-top: 10px;
    margin-right: 1px;
}

.close-picture {
    position: absolute;
    width: 50px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.error1 {
    display: none;
    position: absolute;
    bottom: 80px;
    color: red;
    font-family: 'Google Sans Flex', Arial, Helvetica, sans-serif;
}

.showerror {
    display: block;
}

@keyframes cool {
    from {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}