.global-right-section {
    background-color: rgba(22, 22, 22, 0.781);
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 58px;
    justify-content: center;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid rgba(117, 116, 116, 0.767);
    margin-bottom: 1px;
    border-top: 2px solid rgba(117, 116, 116, 0.767);
    margin-top: 1px;
    border-right: 2px solid rgba(117, 116, 116, 0.767);
    margin-right: 1px;
}

.profile-container {
    position: absolute;
    top: 20px;
    cursor: pointer;
    overflow: hidden;
}


.profile-picture {
    border-radius: 100%;
    width: 40px;
}

.logout {
    position: absolute;
    top: 80px;
    margin-left: 5px;
}

.logout-picture {
    width: 25px;
    cursor: pointer;
}

.general-settings {
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}

.settings-picture {
    width: 35px;
}